@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.text-shadow{
  text-shadow: 1px 1px 2px black;
}

.box-shadow{
  box-shadow: 2px 2px 4px black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #CCF3FD;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #5E6472;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5E6472;
}